## Sales Store Prediction

#### Life cycle of Machine learning Project

- Understanding the Problem Statement
- Data Collection
- Data Checks to perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choose best model

In [61]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

#### Import the CSV Data as Pandas DataFrame

In [62]:
df=pd.read_csv('store_prediction_sales.csv')

In [63]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [64]:
df.shape

(14204, 12)

### Data Checks to perform

- Check Missing values
- Check Duplicates
- Check data type
- Check the number of unique values of each column
- Check statistics of data set
- Check various categories present in the different categorical column

### Checking missing values

In [65]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [66]:
df.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [67]:
df["Item_Weight"]=df['Item_Weight'].fillna(df["Item_Weight"].mean())

In [68]:
## Filling the missing values in Outlet_Size with mode
df['Outlet_Size']=df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0])
## Filling the missing values in Item_Outlet_Sales with mean
df['Item_Outlet_Sales']=df['Item_Outlet_Sales'].fillna(df['Item_Outlet_Sales'].mean())

In [69]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#### Check Duplicates

In [70]:
df.duplicated().sum()

0

#### Check Data types

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                14204 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

In [72]:
df.head(1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138

In [73]:
df['Item_Outlet_Sales']=df['Item_Outlet_Sales'].astype(int)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                14204 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  int32
dtypes: float64(3), int32(1), int64(1), object(7)
memory usage: 1.2+ MB

### Checking the number of unique values of each column

In [75]:
df.nunique()

Item_Identifier               1559
Item_Weight                    416
Item_Fat_Content                 5
Item_Visibility              13006
Item_Type                       16
Item_MRP                      8052
Outlet_Identifier               10
Outlet_Establishment_Year        9
Outlet_Size                      3
Outlet_Location_Type             3
Outlet_Type                      4
Item_Outlet_Sales             3120
dtype: int64

In [76]:
df.head(1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735

### Correcting data

In [77]:
df["Outlet_Type"].value_counts()

Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: count, dtype: int64

In [78]:
df["Outlet_Location_Type"].value_counts()

Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: count, dtype: int64

In [79]:
# In this we will apply OneHotEncoder
df["Item_Fat_Content"].value_counts()

Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: count, dtype: int64

In [80]:
df["Item_Fat_Content"]=df["Item_Fat_Content"].replace({"low fat":"Low Fat","LF":"Low Fat","reg":"Regular"})
df["Item_Fat_Content"].value_counts()

Item_Fat_Content
Low Fat    9185
Regular    5019
Name: count, dtype: int64

In [81]:
df['Item_Type'].value_counts()

Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: count, dtype: int64

In [82]:
df["Outlet_Identifier"].value_counts()

Outlet_Identifier
OUT027    1559
OUT013    1553
OUT049    1550
OUT046    1550
OUT035    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: count, dtype: int64

In [83]:
df["Outlet_Size"].value_counts()

Outlet_Size
Medium    8671
Small     3980
High      1553
Name: count, dtype: int64

In [84]:
print("Categories in 'Outlet_Size' variable:     ",end=" " )
print(df['Outlet_Size'].unique())

print("Categories in 'Outlet_Identifier' variable:  ",end=" ")
print(df['Outlet_Identifier'].unique())

print("Categories in 'Item_Type' variable:",end=" " )
print(df['Item_Type'].unique())

print("Categories in 'Item_Fat_Content' variable:     ",end=" " )
print(df['Item_Fat_Content'].unique())

print("Categories in 'Outlet_Location_Type' variable:     ",end=" " )
print(df['Outlet_Location_Type'].unique())

print("Categories in 'Outlet_Type' variable:     ",end=" " )
print(df['Outlet_Type'].unique())

Categories in 'Outlet_Size' variable:      ['Medium' 'High' 'Small']
Categories in 'Outlet_Identifier' variable:   ['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']
Categories in 'Item_Type' variable: ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']
Categories in 'Item_Fat_Content' variable:      ['Low Fat' 'Regular']
Categories in 'Outlet_Location_Type' variable:      ['Tier 1' 'Tier 3' 'Tier 2']
Categories in 'Outlet_Type' variable:      ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

#### define numerical & categorical columns

In [85]:
# define numerical & categorical columns
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

We have 5 numerical features : ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']

We have 7 categorical features : ['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [86]:
df.to_csv('store_prediction_sales_cleaned.csv',index=False)

#### Preparing X and Y variables

In [87]:
df.head(1)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735

In [88]:
X=df.drop("Item_Outlet_Sales",axis=1)
y=df["Item_Outlet_Sales"]

In [89]:
X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
14199,FDB58,10.50,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
14200,FDD47,7.60,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
14201,NCO17,10.00,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,Medium,Tier 2,Supermarket Type1
14202,FDJ26,15.30,Regular,0.000000,Canned,214.6218,OUT017,2007,Medium,Tier 2,Supermarket Type1
14203,FDU37,9.50,Regular,0.104720,Canned,79.7960,OUT045,2002,Medium,Tier 2,Supermarket Type1

In [90]:
y

0        3735
1         443
2        2097
3         732
4         994
         ...
14199    2181
14200    2181
14201    2181
14202    2181
14203    2181
Name: Item_Outlet_Sales, Length: 14204, dtype: int32

### Create Column Transformer pipeline

In [91]:
num_features=X.select_dtypes(exclude='object').columns
cat_features=X.select_dtypes(include='object').columns
print(num_features)
print(cat_features)

Index(['Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Establishment_Year'],
      dtype='object')
Index(['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier',
       'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [92]:
df["Item_Fat_Content"].value_counts()

Item_Fat_Content
Low Fat    9185
Regular    5019
Name: count, dtype: int64

In [93]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [100]:
X['Item_Fat_Content'] = encoder.fit_transform(X['Item_Fat_Content']) ## 0 is low fat and 1 is Regular
X['Item_Type'] = encoder.fit_transform(X['Item_Type'])
X['Outlet_Size'] = encoder.fit_transform(X['Outlet_Size'])
X['Outlet_Location_Type'] = encoder.fit_transform(X['Outlet_Location_Type'])
X['Outlet_Identifier'] = encoder.fit_transform(X['Outlet_Identifier'])
X['Outlet_Type'] = encoder.fit_transform(X['Outlet_Type'])
X['Item_Identifier'] = encoder.fit_transform(X['Item_Identifier'])

In [101]:

X

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,156,9.30,0,0.016047,4,249.8092,9,1999,1,0,1
1,8,5.92,1,0.019278,14,48.2692,3,2009,1,2,2
2,662,17.50,0,0.016760,10,141.6180,9,1999,1,0,1
3,1121,19.20,1,0.000000,6,182.0950,0,1998,1,2,0
4,1297,8.93,0,0.000000,9,53.8614,1,1987,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
14199,233,10.50,1,0.013496,13,141.3154,8,1997,2,0,1
14200,308,7.60,1,0.142991,15,169.1448,3,2009,1,2,2
14201,1426,10.00,0,0.073529,8,118.7440,7,2002,1,1,1
14202,521,15.30,1,0.000000,3,214.6218,2,2007,1,1,1
14203,997,9.50,1,0.104720,3,79.7960,7,2002,1,1,1

## Train test split

In [102]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.4,random_state=42)
X_train.shape, X_test.shape

((8522, 11), (5682, 11))

In [106]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)
y_train_pred=lr.predict(y_train)
y_test_pred=lr.predict(y_test)
print(y_train_pred,y_test_pred)

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

## Machine Learning Model Training

In [103]:
# # Basic Import
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt 
# import seaborn as sns
# # Modelling
# from sklearn.metrics import mean_squared_error, r2_score
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
# from sklearn.svm import SVR
# from sklearn.linear_model import LinearRegression, Ridge,Lasso,ElasticNet
# from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
# from sklearn.model_selection import RandomizedSearchCV

# from catboost import CatBoostRegressor
# from xgboost import XGBRegressor
# import warnings

In [104]:
# def evaluate_model(true, predicted):
#     mae = mean_absolute_error(true, predicted)
#     mse = mean_squared_error(true, predicted)
#     rmse = np.sqrt(mean_squared_error(true, predicted))
#     # r2_square = r2_score(true, predicted)
#     return mae, rmse, r2_square

In [105]:
# models = {
#     "Linear Regression": LinearRegression(),
#     "Lasso": Lasso(),
#     "Ridge": Ridge(),
#     "K-Neighbors Regressor": KNeighborsRegressor(),
#     "Decision Tree": DecisionTreeRegressor(),
#     "Random Forest Regressor": RandomForestRegressor(),
#     # "XGBRegressor": XGBRegressor(), 
#     "CatBoosting Regressor": CatBoostRegressor(verbose=False),
#     "AdaBoost Regressor": AdaBoostRegressor()
# }
# model_list = []
# r2_list =[]

# for i in range(len(list(models))):
#     model = list(models.values())[i]
#     model.fit(X_train, y_train) # Train model

#     # Make predictions
#     y_train_pred = model.predict(X_train)
#     y_test_pred = model.predict(X_test)
    
#     # Evaluate Train and Test dataset
#     model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

#     model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
#     print(list(models.keys())[i])
#     model_list.append(list(models.keys())[i])
    
#     print('Model performance for Training set')
#     print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
#     print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
#     print("- R2 Score: {:.4f}".format(model_train_r2))

#     print('----------------------------------')
    
#     print('Model performance for Test set')
#     print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
#     print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
#     print("- R2 Score: {:.4f}".format(model_test_r2))
#     r2_list.append(model_test_r2)
    
#     print('='*35)
#     print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 1094.0458
- Mean Absolute Error: 821.1789
- R2 Score: 0.3117
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1111.2637
- Mean Absolute Error: 832.0221
- R2 Score: 0.2981
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 1094.2339
- Mean Absolute Error: 821.4491
- R2 Score: 0.3115
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1111.0717
- Mean Absolute Error: 831.7485
- R2 Score: 0.2983
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 1094.0480
- Mean Absolute Error: 821.2021
- R2 Score: 0.3117
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1111.2289
- Mean Absolute Error: 831.9767
- R2 Score: 0.2981
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 1061.8521
- Mean Absolute Error: 770.1000
- R2 Score: 0.3516
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1296.3433
- Mean Absolute Error: 937.3437
- R2 Score: 0.0448
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1581.3960
- Mean Absolute Error: 1078.2323
- R2 Score: -0.4215
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 418.5393
- Mean Absolute Error: 311.5421
- R2 Score: 0.8993
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1133.5661
- Mean Absolute Error: 850.8207
- R2 Score: 0.2696
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 647.8192
- Mean Absolute Error: 488.8783
- R2 Score: 0.7587
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1155.7119
- Mean Absolute Error: 857.8528
- R2 Score: 0.2408
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 821.9834
- Mean Absolute Error: 636.2365
- R2 Score: 0.6115
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1108.5331
- Mean Absolute Error: 828.5964
- R2 Score: 0.3015
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 1169.3784
- Mean Absolute Error: 934.6001
- R2 Score: 0.2137
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1200.8159
- Mean Absolute Error: 958.2465
- R2 Score: 0.1804
===================================